@import url("https://fonts.google.com/specimen/Manrope");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff-prmy: Manrope;

  --fs-prmy: 2rem;
  --fs-sec: 1.5rem;

  --fw-prmy: 800;
  --fw-sec: 500;

  --col-prmy: hsl(193, 38%, 86%);
  --col-sec: hsl(150, 100%, 66%);
  --col-tri: hsl(217, 19%, 38%);
  --col-quat: hsl(217, 19%, 24%);
}

.App {
  font-size: var(--fs-prmy);
  font-weight: var(--fw-prmy);
  font-family: var(--ff-prmy);

  background-color: var(--col-quat);
  min-height: 100vh;

  display: grid;
  place-items: center;
}

.Quote {
  max-width: 1440px;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 1em;

  background-color: var(--col-tri);
  color: var(--col-prmy);

  border-radius: 10px;
  padding: 1.5em;

  text-align: center;
  width: 50%;
}

.Quote__Title {
  color: var(--col-sec);

  font-size: var(--fs-sec);
  font-weight: var(--fw-sec);
  text-transform: uppercase;
}
.diceCon {
  transform: translateY(90%);

  width: 20%;
  max-width: 300px;

  padding: 0.95em;
  background-color: var(--col-sec);
  border-radius: 50%;

  align-self: center;

  cursor: pointer;
}

.Quote__Dice {
  width: 100%;
}
